

.appbar {
    background: lighten(black, 20);
    margin: 16px;
    min-width: 90vw;
    max-width: 720px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-radius: 80px;

    box-shadow: 0 0 8px lightgrey;

    @media screen and(min-width: 600px) {
        padding: 10px 20px;
        min-width: 60vw;
    }
}

.appbar__logo {
    // color: white;
    font-size: .88rem;
    font-weight: 600;
}